.archive-section {
    grid-column: 1 / 13;
    @include bp(l){
        grid-column: 6 / 13;
    }
    margin-bottom: 4em;
}

.archive-section-title {
    margin-bottom: 2rem;
    width: 100%;
    line-height: 1;
    font-size: var(--ms--1);
    font-weight: 700;
}