.archive-section {
    grid-column: 1 / 13;
    margin-bottom: 2em;
    @include bp(l){
        grid-column: 2 / 12;
        margin-bottom: 4em;
    }
    @include bp(xl){
        grid-column: 3 / 10;
        margin-bottom: 6em;
    }
}

.archive-section-title {
    margin-bottom: 1.5em;
    width: 100%;
    line-height: 1;
    font-size: var(--ms-1);
    font-weight: 700;
}