.archive-section {
    grid-column: 1 / 13;
    margin-bottom: 2em;
    @include bp(l){
        grid-column: 2 / 12;
        margin-bottom: 4em;
    }
    @include bp(xl){
        grid-column: 3 / 10;
        margin-bottom: 6em;
    }
}

.archive-section-title {
    margin-bottom: 1.5em;
    width: 100%;
    line-height: 1;
    font-size: var(--ms-1);
    font-weight: 700;
}

.tag-list {
    line-height: 1;
    grid-column: 1 / 13;
    .tag {
      padding: 0.1em 0.6em;
      padding-bottom: 0.28em;
      font-weight: 600;
      margin-right: 0.25em;
      margin-bottom: 0.4em;
      display: inline-block;
      text-decoration: none;
      text-transform: capitalize;
      border-radius: 1em;
      @include bp(m) {
        font-size: var(--ms-2);
      }
      @include bp(l) {
        font-size: var(--ms-3);
      }
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  