.event {
    display: contents;
    color: var(--blue);
}

.event-status {
    font-size: var(--ms--1);
    margin-bottom: 1em;
    span {
        display: none;
    }
    svg {
        vertical-align: middle;
        position: relative;
        top: -.1em;
        margin-right: .2em;
    }
    circle {
        fill: var(--blue)
    }

    [data-status=upcoming] & {
        .upcoming {
            display: block;
        }
    }
    [data-status=ongoing] & {
        .ongoing {
            display: block;
        }
    }
    [data-status=past] & {
        .past {
            display: block;
        }
    }
}
.event-date {
    font-size: var(--ms-4);
    .btn {
        vertical-align: middle;
        position: relative;
        margin-left: 1em;
        top: -.2em;
    }
}