* {
    box-sizing: border-box;
    font-size: 100%;
    padding: 0;
    margin: 0;
    font-weight: inherit;
}

a {
    color: inherit;
}

body {
    padding: 1rem;
    font-family: var(--font-text);
    color: var(--black);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 3rem;
}

button, input {
    font-family: inherit;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}