.post-card {
    padding: 2rem;
    border-bottom: 1px solid lightgray;
    margin-bottom: 1rem;
}

.post-card-meta {
    font-size: var(--ms--1);
    font-weight: bold;
    justify-content: space-between;
    a {
        text-decoration: none;
    }
}

.post-list {
    padding-top: 10vh;
    grid-column: 1 / 13;
}

.post-card-thumb {
    width: 100%;
}
.post-card-intro {
    max-width: 30em;
    font-size: var(--ms-0);
    line-height: 1.1;
}
.post-card-title {
    font-size: var(--ms-4);
    text-decoration: none;
    font-weight: 600;
    margin-bottom: .25em;
    line-height: 1;
    max-width: 15em;
    letter-spacing: -.02em;
    a {
        text-decoration: none;
    }
}

.post {
    display: contents;
}

.post-title {
    color: var(--red);
    font-size: var(--ms-4);
    font-weight: 600;
    line-height: 1;
    max-width: 15em;
    letter-spacing: -.01em;
}

.post-header {
    grid-column: 3 / 11;
    padding-top: 30vh;
    padding-bottom: 10vh;
    border-radius: 500px;
}

.post-thumb {
    max-height: 20vh;
}

.post-intro {
    line-height: 1.2;
}

.post-content {
    grid-column: 1 / 13;

    @include bp(m) {
        grid-column: 2 / 12;
    }
    @include bp(l) {
        grid-column: 3 / 11;
    }
    @include bp(xl) {
        grid-column: 4 / 10;
    }
    color: black;
    hyphens: auto;
    font-size: var(--ms-1);
    letter-spacing: .01em;
    font-weight: 500;
    line-height: 1.28;
    padding-top: 2em;

    p {
        margin-bottom: .8em;
        img {
            height: 1em;
            vertical-align: middle;
            display: inline-block;
        }
    }

    .fn {
        font-weight: bold;
        font-size: var(--ms--1);
        color: var(--red);

        &:before {
            content: "[";
        }

        &:after {
            content: "]";
        }
    }

    blockquote {
        font-weight: 500;
        font-size: var(--ms--1);
        padding-left: 2em;
    }

    h2 {
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: .5em;
        font-size: var(--ms-1);
    }
    figure {
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;
        img {
            max-width: 100%;
        }
    }
    figcaption {
        font-size: var(--ms--1);
    }
}

.post-footnotes {
    color: var(--red);
    grid-column: 1 / 13;
    font-size: var(--ms-0);
    
    @include bp(m) {
        grid-column: 3 / 8;
    }
    
    h2 {
        font-weight: 600;
        margin-bottom: .5em;
    }
    ol {
        padding-left: 1em;
        counter-reset: li;
    }

    a {
        line-break: anywhere;
    }

    li {
        display: inline-block;
        list-style: none;
        line-height: 1.15;
        counter-increment: li;
        position: relative;
        margin-bottom: .5em;

        &:before {
            content: counter(li);
            position: absolute;
            left: -1em;
        }
    }
}

.post-meta {
    display: flex;
    color: var(--red);
    padding-top: 1rem;
    li {
        font-size: var(--ms-0);
        list-style: none;
        margin-right: 1em;
    }
    .tag {
        margin-right: .2em;
    }
}

.post-related-references {
    padding-top: 10rem;
    padding-bottom: 5rem;
    grid-column: 2 / 12;
    @include bp(m){
        grid-column: 3 / 11;
    }
    h2 {
        font-size: var(--ms-2);
        margin-bottom: .5em;
    }
}