.post-card {
    padding: 1rem;
    color: var(--red);
    border: 1px solid currentColor;
    
    &.event-card {
        color: var(--blue)
    }
}

.post-card-meta {
    font-size: var(--ms--1);
    margin-top: 1em;
    span {
        margin-right: 1em;
    }
    
    a {
        margin-right: .2em;
        text-decoration: none;
        text-decoration: underline;
    }
}

.post-list {
    grid-column: 1 / 13;

    @include bp(l) {
        grid-column: 6 / 13;
    }
}

.post-card-thumb {
    max-height: 30vh;
}

.post-card-intro {
    font-size: var(--ms-0);
    line-height: 1.1;
    max-width: 35em;
}

.section-link {
    font-size: var(--ms--1);
    font-weight: 600;
    line-height: 1;
}

.post-card-title {
    font-size: var(--ms-5);
    text-decoration: none;
    font-weight: 800;
    margin-bottom: .1em;
    line-height: .9;

    a {
        text-decoration: none;
    }
}

.post {
    display: contents;
    color: var(--red)
}


.post-title {
    font-size: var(--ms-5);
    font-weight: 900;
    line-height: .98;
    letter-spacing: -.02em;
}

.post-header {
    grid-column: 2 / 11;
    padding-bottom: 10vh;

    @include bp(l) {
        grid-column: 6 / 12;
    }
}

.post-thumb {
    max-height: 30vh;
    margin-bottom: 1rem;
}

.post-intro {
    line-height: 1.2;
    font-size: var(--ms-1);
    font-weight: 400;
}

.post-content {
    grid-column: 1 / 13;
    margin-bottom: 4em;
    
    @include bp(m) {
        grid-column: 2 / 11;
    }
    
    @include bp(l) {
        margin-bottom: 0;
        grid-column: 6 / 12;
    }

    hyphens: auto;
    font-size: var(--ms-1);
    letter-spacing: .01em;
    font-weight: 400;
    line-height: 1.28;

    p+p {
        text-indent: 8.3333vw;
    }

    p {
        img {
            height: 1em;
            vertical-align: middle;
            display: inline-block;
        }
    }

    .fn {
        font-weight: bold;
        font-size: var(--ms--1);

        &:before {
            content: "[";
        }

        &:after {
            content: "]";
        }
    }

    blockquote {
        font-weight: 500;
        font-size: var(--ms--1);
        padding-left: 2em;
    }

    h2 {
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: .5em;
        font-size: var(--ms-1);
    }

    figure {
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;

        img {
            max-width: 100%;
            max-height: 80vh;
        }
    }

    figcaption {
        font-size: var(--ms--1);
    }
}

.post-footer {
    grid-column: 7 / 11;
    font-size: var(--ms--1);
    line-height: 1.1;
    letter-spacing: .01em;
    font-weight: bold;
    section + section {
        padding-top: 2rem;
    }
    @include bp(l) {
        font-weight: normal;
        grid-column: 3 / 5;
        grid-row: 2 / 3;
        align-self: flex-end;
    }
}

.post-footnotes {
    font-size: var(--ms--1);
    ol {
        counter-reset: li;
    }

    a {
        line-break: anywhere;
    }

    li {
        display: inline-block;
        list-style: none;
        line-height: 1.15;
        counter-increment: li;
        position: relative;
        margin-bottom: .5em;

        &:before {
            content: counter(li);
            position: absolute;
            left: -1em;
        }
    }
}

.post-meta {
    display: flex;
    padding-top: 1rem;

    li {
        font-size: var(--ms--1);
        list-style: none;
        margin-right: 1em;
    }

    .tag {
        margin-right: .2em;
    }
}

.post-related-references,
.post-related-posts {
    padding-top: 10rem;
    padding-bottom: 5rem;
    grid-column: 2 / 12;

    @include bp(l) {
        grid-column: 6 / 12;
    }

    h3 {
        font-size: var(--ms--1);
        color: var(--black);
        margin-bottom: 2em;
    }
}