.post-card {
    padding: 2rem 1rem;
    @include bp(l){
        padding: 3rem;
    }
    background: var(--red);
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    text-align: center;

    &.event-card {
        background: var(--blue);
        &[data-status="past"]{
            border: 1px solid  var(--blue);
            background: white;
        }
    }
}

.post-card-meta {
    font-size: var(--ms-0);
    margin-top: 1em;

    span {
        margin-right: 1em;
    }

    a {
        margin-right: .2em;
        text-decoration: none;
        text-decoration: underline;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}

.post-list {
    grid-column: 1 / 13;
    @include bp(m) {
        grid-column: 2 / 12;
    }
    @include bp(l) {
        grid-column: 3 / 10;
    }
}

.post-card-thumb {
    max-height: 30vh;
}

.post-card-intro {
    font-size: var(--ms-0);
    line-height: 1.1;
    max-width: 35em;
}

.post-card-title {
    text-decoration: none;
    margin-bottom: .5rem;
    line-height: .9;
    font-size: var(--ms-3);
    font-weight: 700;
    @include bp(s){
        font-size: var(--ms-4);
    }
    @include bp(m){
        line-height: 1;
        font-weight: 800;
        font-size: var(--ms-5);
    }
    a {
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.post {
    display: contents;
}


.post-title {
    font-size: var(--ms-4);
    font-weight: 900;
    line-height: .9;
    margin-bottom: 3rem;
    letter-spacing: -.01em;
    @include bp(m) {
        font-size: var(--ms-5);
    }
    @include bp(xl) {
        font-size: var(--ms-6);
    }
}

.post-header {
    @extend .post-card;
    grid-column: 1 / 13;
    margin-bottom: 1rem;
    @include bp(m) {
        margin-bottom: 3rem;
        grid-column: 2 / 12;
    }
    @include bp(l) {
        padding: 5rem 4rem;
        grid-column: 3 / 10;
    }
}

.addToCalendar {
    display: block;
    padding-top: 1rem;
}

.post-thumb {
    max-height: 30vh;
    margin-bottom: 1rem;
}

.post-intro {
    line-height: 1.2;
    font-size: var(--ms-1);
    font-weight: 400;
}

.fn-modal {
    background: white;
    position: fixed;
    line-height: 1.1;
    hyphens: auto;
    width: 18em;
    padding: .5rem;
    cursor: pointer;
    color: var(--red);
    font-weight: 600;
    border: 1px solid var(--red);
    font-size: var(--ms--1);
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    transition: opacity 200ms;
    pointer-events: none;
    a {
        &:hover, &:focus {
            text-decoration: none;
        }
    }
    &.active {
        pointer-events: all;
        transform: translateX(-50%) translateY(-50%);
        opacity: 1;
    }
}

.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(white, .8);
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    transition: 100ms;
    img {
        max-height: 90vh;
        max-width: 90vw;
    }
    &.active {
        pointer-events: all;
        opacity: 1;
        cursor: pointer;
    }
}

.post-content {
    grid-column: 1 / 13;
    font-size: var(--ms-0);
    hyphens: auto;
    letter-spacing: .01em;
    font-weight: 400;
    line-height: 1.28;
    margin-bottom: 1em;
    
    @include bp(m) {
        grid-column: 2 / 12;
        font-size: var(--ms-1);
    }   
    @include bp(l) {
        grid-column: 3 / 10;
        margin-bottom: 0;
    }
    @include bp(xl) {
        grid-column: 3 / 10;
    }

    p+p {
        text-indent: 8.3333vw;
    }

    .fn {
        font-weight: bold;
        font-size: var(--ms--2);
        background: var(--black);
        color: white;
        display: inline-block;
        text-indent: 0;
        padding: .2em .3em;
        border-radius: 1px;
        vertical-align: middle;
        line-height: 1;
        font-feature-settings: "tnum";
        cursor: pointer;

    }

    blockquote {
        font-weight: 500;
        font-size: var(--ms--1);
        padding-left: 2em;
    }

    h2 {
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: .5em;
        font-size: var(--ms-1);
    }

    .bigImage {
        display: block;
        margin-top: 2em;
        margin-bottom: 2em;

        img {
            max-width: 100%;
            max-height: 80vh;
        }
        figcaption {
            font-size: var(--ms--1);
        }
    }

    .inline-image {
        height: 1em;
        vertical-align: middle;
        display: inline-block;
    }
}

.post-footer {
    grid-column: 2 / 13;
    font-size: var(--ms--1);
    line-height: 1.1;
    letter-spacing: .01em;
    font-weight: bold;
    margin-bottom: 2rem;
    
    section+section {
        padding-top: 1rem;
        @include bp(l) {
            padding-top: 2rem;
        }
    }
    @include bp(m) {
        grid-column: 2 / 7;
    }
    @include bp(l) {
        margin-bottom: 0;
        font-weight: normal;
        grid-column: 11 / 13;
        padding-right: 4rem;
        grid-row: 3 / 4;
        align-self: flex-end;
    }
}

.post-footnotes {
    ol {
        counter-reset: li;
    }

    a {
        line-break: anywhere;
    }

    li {
        display: inline-block;
        list-style: none;
        line-height: 1.15;
        counter-increment: li;
        position: relative;
        margin-bottom: .5em;

        &:before {
            content: counter(li);
            position: absolute;
            left: -1em;
        }
    }
}

.post-meta {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    flex-flow: column;

    li {
        font-size: var(--ms-0);
        list-style: none;
        margin-right: 1em;
    }
    .tag {
        margin-right: .2em;
    }

    a {

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}

.post-related-references,
.post-related-posts {
    grid-column: 1 / 13;
    padding-top: 2rem;
    @include bp(m) {
        grid-column: 2 / 12;
        padding-top: 3rem;
    }
    @include bp(l) {
        grid-column: 3 / 10;
        padding-top: 10rem;
        padding-bottom: 5rem;
    }
    
    h3 {
        font-size: var(--ms-2);
        color: var(--black);
        font-weight: bold;
        margin-top: 2em;
        margin-bottom: 1em;
        display: flex;
        align-items: center;
    }
    .btn {
        margin-left: 1rem;
    }
}

.tag-list {
    line-height: 1;
    .tag {
        border: 1px solid black;
        padding: .2em .4em;
        padding-bottom: .45em;
        font-weight: 600;
        margin-right: .5em;
        margin-bottom: .5em;
        display: inline-block;
        text-decoration: none;
        border-radius: 3px;
        @include bp(m){
            font-size: var(--ms-2);
        }
        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}