.references-container {
    grid-column: 1 / 13;
    overflow-x: auto;
}

.references {
    font-size: var(--ms--1);
    width: 100%;
    position: relative;
    color: var(--black);
    border: 1px solid currentColor;

    .tags-hidden {
        display: none;
    }

    td,
    th {
        padding: .5em;
        vertical-align: top;
    }

    thead {
        font-weight: bold;
    }
    
    th {
        color: white;
        background: var(--yellow);
        border-bottom: 1px solid black;
        text-align: left;
    }

    button {
        appearance: none;
        background: none;
        border: 0;
        color: inherit;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.references-row {
    grid-template-columns: 15rem 4rem 10rem 1fr 1fr 1fr;
    border-bottom: 1px solid lightgray;
    line-height: 1.1;

    &:last-of-type {
        border-bottom: 0;
    }

    a {

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}

.reference-tag {
    background: rgb(240, 240, 240);
    padding: .1em .6em;
    text-decoration: none;
    border-radius: 3rem;
    margin-bottom: .3em;
    display: inline-block;
}

.reference-title {
    font-weight: bold;
    min-width: 10em;
}

.references-search {
    margin-bottom: 2rem;

    input {
        border: 0;
        background: transparent;
        font-size: var(--ms-7);
        font-weight: bold;
        font-family: var(--font-text);

        &::placeholder {
            opacity: .2;
            color: var(--black);
        }

    }
}