---
layout: base
title: Articles
---

<h2 class="section-link">{{title}}</h2>
<main class="post-list">
    {% for post in collections.articles %}
    {% include post-card with post %}
    {% endfor %}
</main>