---
pagination:
    data: authors
    size: 1
    alias: a
permalink: "/author/{{ a.id }}/"
layout: base
---

<header class="section-link">
    <h2>Contributor: <span>{{ a.name }}</span></h2>
    <div class="bio">{{a.bio | renderMarkdown}}</div>
</header>

<main class="post-list">

    {% for post in collections.articles %}
    {% if post.data.author == a.id %}
    {% include post-card with post %}
    {% endif %}
    {% endfor %}
</main>