---
layout: base
---

<h2 class="section-link">Events</h2>
<main class="post-list events-list">
    {% for post in collections.events %}
    {% include event-card with post %}
    {% endfor %}
</main>