---
layout: base
---

<header class="section-header">
    <h2 class="section-title">Events</h2>
</header>
<main class="post-list">
    {% for post in collections.events %}
    {% include post-card with post %}
    {% endfor %}
</main>