---
layout: base
title: References
---
<div class="section-link">
    <h2>
        {{title}}
    </h2>
    <a class='btn' href="https://docs.google.com/spreadsheets/d/1-QQNlh1FwsTEmwdYni0hfT4HMzutPspM9pTVR4VDZlE/edit?usp=sharing">Add</a>
</div>

<section class="references-container">
    <div class="references-search">
        <input type="text" class="search" placeholder="Search {{references | size }} references..." />
    </div>
    <table class="references">
        <thead>
            <tr>
                <th><button class='sort' data-sort='reference-title'>Title</button></th>
                <th><button class='sort' data-sort='reference-date'>Year</button></th>
                <th><button class='sort' data-sort='reference-location'>Location</button></th>
                <th><button class='sort' data-sort='reference-name'>Artist</button></th>
                <th>Link</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody class="list">
            {% for ref in references %}
                {% include reference-row with ref %}
            {% endfor %}
        </tbody>
    </table>
</section>