---
pagination:
    data: collections
    size: 1
    alias: tag
permalink: "/tags/{{ tag | slug }}/"
layout: base
---

<h2 class="section-link">#{{ tag }}</h2>

<section class="archive-section">
    <h2 class="archive-section-title">Articles</h2>
    {% assign ps = collections[tag] %}
    <main class="post-list">
        {% for post in ps %}
        {% if post.data.tags contains "articles" %}
        {% include post-card with post %}
        {% endif %}
        {% endfor %}
    </main>
</section>

<section class="archive-section">
    <h2 class="archive-section-title">Events</h2>
    {% assign ps = collections[tag] %}
    <main class="events-list">
        {% for post in ps %}
        {% if post.data.tags contains "events" %}
        {% include event-card with post %}
        {% endif %}
        {% endfor %}
    </main>
</section>

<section class="archive-section">
    <h2 class="archive-section-title">References</h2>
    <section class="references-container">
        <table class="references">
            <tbody class="list">
                {% for ref in references %}
                {% if ref.tags contains tag %}
                {% include reference-row with ref %}
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </section>
</section>