---
pagination:
    data: collections
    size: 1
    alias: tag
permalink: "/tags/{{ tag | slug }}/"
layout: base
---

<h2 class="section-link">#{{ tag }}</h2>

<section class="archive-section">
    <h2 class="archive-section-title">Articles</h2>
    {% assign ps = collections["articles"] %}
    <main class="post-list">
        {% for post in ps %}
        {% if post.data.tags contains tag %}
        {% include post-card with post %}
        {% endif %}
        {% endfor %}
    </main>
</section>

<section class="archive-section">
    <h2 class="archive-section-title">Events</h2>
    {% assign ps = collections["events"] %}
    {% assign eventsFound = false %}
    <main class="events-list">
        {% for post in ps %}
        {% if post.data.tags contains tag %}
            {% include event-card with post %}
            {% assign eventsFound = true %}
        {% endif %}
        {% endfor %}
        {% if eventsFound == false %}
            <span class='emptyState'>
                No events found.
            </span>
        {% endif %}
    </main>
</section>

{% assign referenceFound = false %}
<section class="archive-section">
    <h2 class="archive-section-title">References</h2>
    <section class="references-container">
        <table class="references">
            <tbody class="list">
                {% for ref in references %}
                {% if ref.tags contains tag %}
                {% include reference-row with ref %}
                {% assign referenceFound = true %}
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% if referenceFound == false %}
            <span class="emptyState">No references found.<br>
                <a class='btn' href="https://docs.google.com/spreadsheets/d/1-QQNlh1FwsTEmwdYni0hfT4HMzutPspM9pTVR4VDZlE/edit?usp=sharing">Add a Reference</a>
        {% endif %}
    </section>
</section>