<header class="event-status">
    <span class="upcoming">
        <svg width="10" height="10">
            <circle cx="5" cy="5" r="5"></circle>
        </svg>
        Upcoming Event
    </span>
    <span class="ongoing">In Progress</span>
    <span class="past">Past Event</span>
</header>