<p class="site-intro">
    Window Cleaner is a non-profit arts organisation/open platform established at the <a href='https://www.rca.ac.uk/'>Royal College of Art</a> in 2019. We aim to disseminate the middle ground between art and activism through our breathing and living <a href='/references/'>collaborative reference list</a>. But also, to have an open space to activate the political art discourses by our <a href='/articles/'>published articles</a> and <a href='/events/'>hosted events</a>, such as lectures, exhibitions and workshops.  
</p>