---
layout: base
---

<article class="post">
    <header class="post-header">
        <h2 class="post-title">{{title}}</h2>
    </header>
    <main class="post-content">
        {{ content | safe }}
    </main>
    <footer class="post-footnotes">
        <h2>Notes</h2>  
    </footer>
</article>
